c#/TexasHoldEmEngineSolution/TexasHoldEmConsoleClient/Service References/TexasHoldEm/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7330/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TexasHoldEmService" />
  <xs:element name="RegisterForGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveHoleCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="firstCard" nillable="true" type="q1:CardData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="secondCard" nillable="true" type="q2:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveFlop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="flop1" nillable="true" type="q3:CardData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="flop2" nillable="true" type="q4:CardData" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="flop3" nillable="true" type="q5:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="turn" nillable="true" type="q6:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveRiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TexasHoldEmService" minOccurs="0" name="river" nillable="true" type="q7:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>